* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 15px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 30px;
  }
}

body {
  .no-js {
    // cursor: pointer;
    display: none;
  }
}

.no-js {
  .no-js {
    display: block !important;
  }

  .js {
    display: none;
  }
}

/**
 * Grid
 */

.container {
  width: 100%;
  margin: 0 auto;

  max-width: $container-max-width;
}

/**
 * Jarallax
 */

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  // font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grecaptcha-badge {
  visibilty: hidden;
  opacity: 0;
}
