{{#> layouts/base title="Southey&Co" description="" classes="page--home" }}
  {{#*inline "main"}}

    <div class="container">
      <section class="intro">
        <div class="intro__main">
          <header class="intro__header">
            <h1 class="sr-only">Southey &mp; Co</h1>
            <img src="/images/logo.svg" alt="Southey & Co">
          </header>

          <div class="intro__content">
            <h3 class="title title--alt-100">About Us</h3>
            <h2 class="title title--100">Introducing Southey &amp; Co</h2>

            <p>Our property concierge service ensures your clients will achieve a maximum sale value by protecting and maintaining their property from day one, valuing accurately and selling through a range of channels.</p>
            <p>As your dedicated property consultants we will minimise the time you need to spend on non-legal aspects of estate administration whilst providing you with the documentation and transparency required to meet your compliance obligations.</p>

            <a href="#contact" class="btn">Let's Talk</a>
          </div>
        </div>
        <div class="intro__image jarallax">
          <picture class="image__picture jarallax-img">
            <source srcset="/images/mews.webp" type="image/webp">
            <source srcset="/images/mews.jpeg" type="image/jpeg">
            <img src="/images/mews.jpeg" alt="" width="960" height="1440">
          </picture>
        </div>
      </section>

      <section class="services">
        <header class="services__header">
          <div class="services__title">
            <h3 class="title title--alt-100">Our Services</h3>
            <h2 class="title title--100">Property Solutions</h2>
          </div>
          <a href="#contact" class="btn">Let's Talk</a>
        </header>
        <ul class="services__list">
          <li class="services__service" data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
            <div class="service__main">
              <span class="service__count">01</span>
              <h3 class="title title--200">Insurance</h3>
              <p>Comprehensive unoccupied property insurance, protecting you and your client’s asset from day one.</p>
            </div>
          </li>
          <li class="services__service" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
            <div class="service__main">
              <span class="service__count">02</span>
              <h3 class="title title--200">Maintenance</h3>
              <p>Protecting and maintaining the property with a full audit trail on all projects.</p>
            </div>
          </li>
          <li class="services__service" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
            <div class="service__main">
              <span class="service__count">03</span>
              <h3 class="title title--200">Valuation</h3>
              <p>Compliant Property Valuations you can rely on.</p>
            </div>
          </li>
          <li class="services__service" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
            <div class="service__main">
              <span class="service__count">04</span>
              <h3 class="title title--200">Sale</h3>
              <p>A range of property sale solutions to suit your client’s circumstances.</p>
            </div>
          </li>

        </ul>
      </section>

      <aside class="parallax-image jarallax">
        <picture class="parallax-image__picture jarallax-img">
          <source srcset="/images/river.webp" type="image/webp">
          <source srcset="/images/river.jpeg" type="image/jpeg">
          <img src="/images/river.jpeg" alt="" width="1440" height="960">
        </picture>
      </aside>

      <section class="testimonial">
        <img class="testimonial__pattern" src="/images/pattern.svg" alt="">
        <blockquote class="quote" data-aos="fade-left" data-aos-delay="0" data-aos-duration="800">
          <p>Southey &amp; Co work hand in hand with our Private Client department, managing, maintaining and disposing of a wide range of properties. They are an extension of our team and our trusted property consultants.</p>
          <footer class="quote__footer">
            <cite class="quote__citation">Head of Private Client</cite>
          </footer>
        </blockquote>
      </section>


      <section id="contact" class="contact">
        <div class="contact__main">
          <header class="contact__header">
            <h3 class="title title--alt-100">Contact Us</h3>
            <h2 class="title title--100">Let's Talk</h2>
          </header>

          <div class="contact__content">
            {{!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> --}}
          </div>

          <ul class="contact__list">
              <li>
                <a href="tel:02071015955">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><g fill="#8C6F2F" fill-rule="nonzero"><path d="M7.21905 14.45773c-.1618-.40863-.57995-.66075-1.0143-.614l-2.18362.21796c-.78502-2.30273-.78502-4.81694.00124-7.11786l2.18362.21738c.43599.04388.84982-.2061 1.01347-.61276l1.38425-3.46083c.1739-.44829-.02707-.95482-.3921-1.20665L5.44435.15138c-.39087-.24523-.89536-.18803-1.22347.13904-5.62804 5.62804-5.62763 14.79073 0 20.41795.32738.32746.82931.38468 1.22018.13953l2.76768-1.73041c.40092-.25035.5701-.75754.39366-1.20173l-1.38335-3.45803Z"/><path d="M11.67325 7.46061c-.42163-.34222-1.04218-.28197-1.38425.1397-.34476.4204-.28324 1.04054.13843 1.38548.46244.382.72904.9316.72904 1.4771 0 .5455-.2666 1.13283-.73048 1.51262-.42163.34477-.48315.96508-.13842 1.38548.19355.23838.47659.36142.76123.36142.21919 0 .44091-.07304.62302-.22172.92426-.72047 1.45335-1.82786 1.45335-3.0378 0-1.20993-.52909-2.2435-1.45192-3.00228Zm2.4814-3.0679c-.41918-.34222-1.03932-.28325-1.38548.13716-.34477.4204-.28325 1.04054.13715 1.38547 1.39187 1.17614 2.18756 2.83314 2.18756 4.54755 0 1.71442-.79733 3.40791-2.1865 4.54853-.4204.34477-.48192.96508-.13715 1.38548.19482.2371.4766.36015.76123.36015.22046 0 .44091-.07305.62425-.22304 1.8487-1.47747 2.90688-3.69226 2.90688-6.07112 0-2.37885-1.05818-4.51982-2.90795-6.07018Zm2.5142-3.03345c-.41918-.34222-1.03932-.28197-1.38548.13716-.34477.4204-.28325 1.04054.13715 1.38547 2.2942 1.87996 3.61077 4.65665 3.61077 7.581 0 2.92435-1.31616 5.73796-3.61175 7.61644-.4204.34477-.48193.96507-.13716 1.38547.19482.2371.4766.36015.76124.36015.22045 0 .4409-.07304.62424-.22303C19.42093 17.38208 21 14.05168 21 10.46289c0-3.58879-1.57907-6.84782-4.33115-9.10363Z" opacity=".4"/></g></svg>
                  <span>0207 101 5955</span>
                </a>
              </li>
              <li>
                <a href="mailto:enquiries@southeyandco.co.uk">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15"><g fill="#8C6F2F" fill-rule="nonzero"><path d="M19.03125 0C20.11816 0 21 .83954 21 1.87518c0 .5899-.29121 1.14465-.7875 1.50015l-8.925 6.37562c-.46758.33207-1.10742.33207-1.575 0L.7875 3.37533C.29174 3.01983 0 2.46508 0 1.87518 0 .83954.88143 0 1.96875 0h17.0625Z"/><path d="M.7875 3.48571 9.7125 9.8c.46758.32887 1.10742.32887 1.575 0l8.925-6.31429C20.70879 3.13363 21 2.58423 21 2v10.5238C21 13.88959 19.82285 15 18.375 15H2.625C1.1751 15 0 13.88958 0 12.5238V2c0 .58423.29174 1.13363.7875 1.48571Z" opacity=".4"/></g></svg>
                  <span>enquiries@southeyandco.co.uk</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><g fill="#8C6F2F" fill-rule="evenodd"><path d="M2 2h17v16H2z" opacity=".4"/><path fill-rule="nonzero" d="M19.5 0H1.49531C.67031 0 0 .67969 0 1.51406v17.97188C0 20.3203.67031 21 1.49531 21H19.5c.825 0 1.5-.67969 1.5-1.51406V1.51406C21 .6797 20.325 0 19.5 0ZM6.34688 18h-3.1125V7.97812h3.11718V18h-.00469ZM4.79063 6.60937c-.99844 0-1.8047-.81093-1.8047-1.80468S3.7922 3 4.79064 3c.99374 0 1.80468.81094 1.80468 1.80469 0 .99843-.80625 1.80468-1.80468 1.80468ZM18.01405 18h-3.1125v-4.875c0-1.1625-.02343-2.65781-1.61718-2.65781-1.62188 0-1.87032 1.26562-1.87032 2.57343V18h-3.1125V7.97812h2.98594v1.36875h.04219c.41718-.7875 1.43437-1.61718 2.94843-1.61718 3.15 0 3.73594 2.07656 3.73594 4.77656V18Z"/></g></svg>
                  <span>Speak to us on LinkedIn</span>
                </a>
              </li>
              <li>
                <address>
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="28" viewBox="0 0 21 28"><g fill="#8C6F2F" fill-rule="nonzero"><path d="M8 10.5c0 1.3802 1.1198 2.5 2.5 2.5s2.5-1.1198 2.5-2.5S11.8802 8 10.5 8 8 9.1198 8 10.5Z" opacity=".4"/><path d="M11.7961 27.37083C14.65077 23.8508 21 15.31933 21 10.52724 21 4.71314 16.29906 0 10.5 0 4.70312 0 0 4.71313 0 10.52724c0 4.7921 6.39844 13.32355 9.2039 16.8436.67266.83888 1.91954.83888 2.5922 0ZM10.5 14.9136c-2.41719 0-4.375-1.96289-4.375-4.38635 0-2.42346 1.95781-4.38635 4.375-4.38635 2.41719 0 4.375 1.9629 4.375 4.38635 0 2.42346-1.95781 4.38635-4.375 4.38635Z"/></g></svg>
                  <span>
                    Aylesbury House, 17 – 18 Aylesbury Street, London, EC1R 0DB
                  </span>
                </address>
              </li>
            </ul>
        </div>
        <div class="contact__image jarallax">
          <picture class="image__picture jarallax-img">
            <source srcset="/images/night.webp" type="image/webp">
            <source srcset="/images/night.jpeg" type="image/jpeg">
            <img src="/images/night.jpeg" alt="" width="1440" height="1091">
          </picture>
        </div>
      </section>
    </div>

  {{/inline}}
{{/layouts/base}}
